html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {

  width: 95%;
  max-width: 120rem;
  margin: 0 auto;

}

.img {
 
  max-width: 100%;

}


/* SECCION HEADER */

.fondo {

   background-image: url(../img/Portada-Facebook-PS3.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   height: 50rem;
   position: relative;

}


.fondo__total {

  position: absolute;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

}

.fondo__encabezado {
  
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.fondo__encabezado__titulo {

   font-size: 3rem;
   color: white;
   font-family: 'Montserrat', sans-serif;

}

.fondo__encabezado__navegacion a {

   color: white;
   font-size: 2rem;
   text-decoration: none;
   margin-right: 2rem;

}

.fondo__cuerpo {

  text-align: center;

}

.fondo__cuerpo__titulo {
  
  font-size: 2.8rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;

}

.fondo__cuerpo__texto {

  font-size: 2rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}


/****** SECCION FORMULARIO ******/

.form__legend {

  font-size: 3rem;

}

.alinear {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  

}


.alinear__div {

  margin-bottom: 2rem;

}

.alinear__div label {

   font-size: 2rem;

}

.alinear__div input {
   
   display: block;
   width: 40rem;
   height: 3rem;
   border: none;
   border: 1px solid gray;
   border-radius: 10px;
   appearance: none;
   background-color: beige;
   font-size: 1.5rem;
   

}

.alinear__div input ::placeholder {
 
   color: white;

}

fieldset {

  border-radius: 2rem;

}

button {
 
  border-radius: 2rem;
  background-color: aqua;

}


/*/ SECCION MAIN /*/

.grid {

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;

}

.grid img {
 
  width: 100%;
 

}

.grid p {

  font-size: 2rem;

}

.margen {

  margin: 2rem 0 2rem 0;

}



/******** SECCION FOOTER ********/


.fondo__footer {

  background-color: black;
  padding: 1.8rem;
  margin-top: 3rem;

}