@{
    ViewData["Title"] = "Home Page";
}

<div class="container margen">
     
    <div class="grid">
       <img src="~/img/images.jpg" alt="IMAGEN DE BIENVENIDA">

    <div>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste impedit, voluptatum laboriosam in ad vel alias debitis totam tempora, quos vero facere, expedita reprehenderit et nihil dignissimos. Dicta, corporis itaque!</p>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam alias numquam perspiciatis quae error nisi maiores quos cumque accusantium blanditiis, deserunt illum odio! Odio atque rerum, ipsa sit earum eius.</p>
    </div>

   </div>

</div>
