<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Videojuegos</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>


     <header class="fondo">
     
      <div class="fondo__total">

         <section class="container fondo__encabezado">

             <h1 class="fondo__encabezado__titulo">JCJ<strong>0501</strong></h1>

             <nav class="fondo__encabezado__navegacion">

               <a asp-controller="Home" asp-action="Index">Inicio</a>
               <a href="#">Nosotros</a>
               <a asp-controller="Producto" asp-action="Index">Comprar</a>
              
             </nav>

         </section>
       

        <section class="fondo__cuerpo">

            <h2 class="fondo__cuerpo__titulo">Bienvenidos a la mejor pagina de videojuegos</h2>
            <p class="fondo__cuerpo__texto">Los mejores precios solo por hoy</p>


        </section>

        


        </div>


     </header>
  

    

 <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="fondo__footer">

        <section class="container fondo__encabezado">

             <h1 class="fondo__encabezado__titulo">JCJ<strong>0501</strong></h1>

             <nav class="fondo__encabezado__navegacion">

               <a asp-controller="Home" asp-action="Index">Inicio</a>
               <a href="#">Nosotros</a>
               <a asp-controller="Producto" asp-action="Index">Comprar</a>
              
             </nav>

         </section>


    </footer>

    
</body>
</html>

